# Android Queue (https://github.com/sdesalas/Arduino-Queue.h/blob/master/Queue.h)
Queue.h

# Stone HMI has its own API but we only had modified stone_config.h
# so we exclude the other API files of Stone HMI.
stone.h
stone_receive.cpp
stone_receive_group.cpp
stone_transport.cpp
